includes:
    - config/extensions.neon

parameters:
    level: max

    paths:
        - src/
        - tests/

    bootstrapFiles:
        - bootstrap.php

    ignoreErrors:
        -
            message: '#.*return type has no value type specified in iterable type iterable.#'
            path: tests/*
        -
            message: '#.*has no return type specified.#'
            path: tests/*

    excludePaths:
        analyseAndScan:
            - *Fixture/**
            - *classes/**
